.page-form__preview-box {
  background-color: $bg-dark;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.page-form__achievements,
.page-form__apps {
  background-color: $bg-grey;
}
