.photos-container {
  padding: 0 20px;
}
.photos__title {
  background-color: $bg-dark;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  @include font (24px, auto);
  color: $white;
  font-weight: 300;
  margin: 0;
}
.photos__annotation {
  @include font (14px, 30px);
  margin: 0;
}
.photos__list {
  @include list-reset;
}
@media (min-width: $tablet-width) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (min-width: $desktop-width) {
  .photos-container {
    padding: 0 120px;
  }
}