.preview__container {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.preview__bg-img {
  background-color: $bg-dark;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 320px auto;
}
.preview__slogan {
  @include font(24px, 1.2);
  color: $white;
  font-weight: 300;
  margin: 0;
}
.preview__download {
  margin: 0;
}
.preview__download__button {
  @include font(18px, 18px);
  color: $white;
  font-weight: 700;
}
.preview__annotation {
  color: $white;
  font-weight: 300;
}
.apps {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}
//свойства для планшета
@media (min-width: $tablet-width){
  .preview__container {
    height: 545px;
  }
  .preview__download {
    padding-top: 39px;
  }
  .preview__slogan {
    @include font(40px, 1.2);
  }
}
//свойства для десктопа
@media (min-width: $desktop-width){
  .preview__container {
    height: 645px;
    padding: 0 130px;
  }
  .preview__download {
    padding-top: 51px;
  }
  .preview__slogan {
    @include font(50px, auto);
  }
}
//общие свойства для десктопа и для планшета
@media (min-width: $desktop-width),(min-width: $tablet-width){
  .preview__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .preview__slogan {
    padding-top: 74px;
  }
  .preview__picture {
    order: 1;
    flex-grow: 1;
  }
  .preview__slogan,
  .preview__bg-dark {
    width: 300px;
  }
}
