$bg-grey: #f2f2f2;
$black: #000000;
$bg-dark: #1d2631;
$white: #ffffff;
$bg-price: #283645;
$pink: #D22856;
$text-color: #283645;
@mixin font ($f-size: 14px, $f-height: 24px) {
  font-size: $f-size;
  line-height: $f-height;
}
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}